<h1>Need Music?</h1>
<p>Try to find your favourite band or release right now. Its easy and fun</p>
<form>
    <div class="form-group">
        <input type="text"
               name="searchStr"
               [(ngModel)]="searchStr"
               (keyup)="searchMusic()"
               class="form-control"
               placeholder="Search Music Here...">
    </div>
</form>

<div *ngIf="searchRes">
    <div *ngFor="let res of searchRes">
        <div class="row">
            <div class="col-md-12">
                <div class="search-res well">
                    <a href="#">
                        <h4>{{ res.name }}</h4>
                    </a>
                    <div>
                        <span *ngIf="res.genres.length">
                            <strong>Genres: </strong>
                            <span *ngFor="let genre of res.genres">{{ genre }}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>